<h1><%= @article.title %></h1>

<h5><%= @article.content %></h5>


<small> <%= link_to "Delete article", article_path(@article), method: :delete, data: {confirm: "Are you sure"} %> </small>

<small> <%= link_to "Edit article", edit_article_path(@article) %></small>

